@import "./index.scss";

.App {
   height: 100vh;
   background-color: $primary_Color;
   color: $text_Color;
   font-family: "Inter", sans-serif;
   overflow: auto;
   &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
   }
}

#Dark {
   background-color: $dark_Theme;
   color: $text_dark_Color;
}
