@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$primary_Color: #fff;
$text_Color: #000;

// Dark
$dark_Theme: #333;
$text_dark_Color: #fff;
